export FLINK_LIBS=$PWD/flink_libs
# TODO: hack to make runner.py work temporarily
export PYTHONPATH=.

make install-dev install-pre-commit-hook

source .venv/bin/activate

brew bundle
export PATH="/opt/homebrew/opt/openjdk/bin:$PATH"
