# Related thread: https://github.com/PyO3/pyo3/issues/1741


export CMAKE_POLICY_VERSION_MINIMUM=3.5
make install-dev install-pre-commit-hook
source sentry_streams/.venv/bin/activate

export STREAMS_TEST_PYTHONPATH="$(python -c 'import sys; print(":".join(sys.path))')"
export STREAMS_TEST_PYTHONEXECUTABLE="$(python -c 'import sys; print(sys.executable)')"
