name: pre-commit
on:
    push:
      branches:
        - main
        - release-sentry-streams/**
    pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v3 # v3
    - uses: actions/setup-python@v5
      with:
        python-version-file: sentry_streams/.python-version
    - run: |
        make install-dev
        . sentry_streams/.venv/bin/activate
        pre-commit run
