name: type-checking
on:
  push:
    branches:
      - main
      - release-sentry-streams/**
  pull_request:

jobs:
  typing:
    name: "mypy typing"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Make environment
        run: make install-dev

      - name: Run strict mypy
        run: make typecheck
