name: type-checking
on:
  push:
    branches:
      - main
      - release-sentry-streams/**
  pull_request:

permissions:
  contents: write
  pull-requests: write

jobs:
  typing:
    name: "mypy typing"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v3

      - name: Make environment
        run: make install-dev

      - name: Run strict mypy
        run: make typecheck
